.mentions--multiLine {
  @apply h-full;
}

.mentions--multiLine .mentions__input {
  @apply outline-none border border-transparent;
  overflow-y: auto !important;
}

.mentions__highlighter {
  @apply box-border overflow-hidden inset-0;
  position: absolute !important;
}

.mentions__suggestions__list {
  @apply bg-background-popover w-96 max-h-80 p-2 overflow-y-auto shadow-black shadow-md;
}

.mentions__suggestions__item--focused {
  @apply bg-primary-overlay/[.24];
}

.mentions__mention {
  @apply text-primary;
  z-index: 1;
  position: relative;
}
