.button {
  background: linear-gradient(90deg, #844aff 0%, #00aae0 100%);
  border-radius: 32px;
  padding: 12px 0;
  width: 100%;
  max-width: 427px;
  height: 40px;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
