.str-chat-channel {
  height: 100%;

  .str-chat__list {
    padding: 0 30px;
    
    .str-chat__message {
      &-text-inner {
        padding: 7px 12px;
      }

      &-simple--me {
        .str-chat__message-text-inner {
          background-color: #00AAE0;
        }
      }

      .str-chat__reaction-list ul li button {
        line-height: normal;
      }
    }
  }

  .str-chat__textarea {
    display: flex;
    align-items: center;

    textarea {
      background: #ffffff;
      line-height: 16px;
      min-height: 0px;
      transition: box-shadow 0.2s ease-in-out;
      border: none !important;
      outline: none !important;
      border-radius: 20px;
      padding: 0.75rem 0.5rem;

      &:focus {
        border: none;
        box-shadow: none;
      }
    }
  }
}

.channel-preview__avatars {
  display: flex;
  align-items: center;
  height: 48px;
  min-width: 48px;
  max-width: 48px;
  overflow: hidden;
  margin-right: 5px;

  &.two div {
    &:first-child {
      position: relative;
      right: 10px;
    }

    &:nth-child(2) {
      position: relative;
      right: 30px;
    }
  }

  &.two span {
    width: 50%;
    overflow: hidden;
  }

  &.three span {
    width: 50%;
    overflow: hidden;
  }
}

.pmessages-sidebar {
  display: flex;
  flex-direction: column;

  .str-chat-channel-list {
    flex: auto;
    overflow: auto;
  }
}

.mobile-nav-icon {
  display: none;
}

/* Channel List Loader  */
.skeleton-loader__list {
  position: absolute;
  width: 100%;
  height: 100%;
  float: left;
  margin-top: 0;
  padding: 0;
  list-style: none;

  li {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  }

  .skeleton-loader__avatar,
  .skeleton-loader__text {
    display: inline-block;
  }
  
  .skeleton-loader__avatar {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 100px;
  }

  .skeleton-loader__text {
    flex: auto;

    div {
      height: 12px;
      border-radius: 20px;

      &:nth-child(2) {
        height: 6px;
        margin-top: 8px;
      }
    }
  }

  .skeleton-loader__avatar,
  .skeleton-loader__text div {
    animation: placeHolderShimmer 1.5s linear infinite;
    background: rgba(255, 255, 255, 0.2);
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 5%,
      rgba(0, 0, 0, 0.2) 25%,
      rgba(0, 0, 0, 0.25) 50%,
      rgba(0, 0, 0, 0.2) 75%,
      rgba(0, 0, 0, 0) 95%,
      rgba(0, 0, 0, 0) 100%
    );
    background-repeat: no-repeat;
    background-size: 400px 100%;
  }

  @keyframes placeHolderShimmer {
    0% {
      background-position: -400px 0;
    }
    100% {
      background-position: 400px 0;
    }
  }  
}

.emoji-mart-category .emoji-mart-emoji span {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

/* EDIT MESSAGE */
.str-chat__edit-message-form {
  .str-chat__textarea textarea {
    border: 1px solid rgba(255, 255, 255, 0.6);
    font-size: 15px;
    border-radius: 20px;
    transition: border 0.2s ease-in-out;
    box-shadow: none;
    background: rgba(46, 48, 51, 0.98);
    color: white;

    &:focus {
      border: 1px solid #00AAE0 !important;
    }
  }

  .rfu-file-upload-button {
    display: none;
  }

  .str-chat__message-team-form-footer {
    margin-top: 12px;

    button {
      cursor: pointer;
      margin-left: 10px;
      
      &[type='submit'] {
        padding-right: 0;
      }
      &:focus {
        border: none;
        outline: none;
      }
    }

    svg {
      fill: white;
      &:hover {
        fill: #00AAE0;
      }
    }
  }
}

/* Mobile View */
@media screen and (max-width: 640px) {
  .skeleton-loader__list {
    width: unset;
  }

  .mobile-nav-icon {
    display: block;
  }

  #mobile-channel-list {
    width: 100%;
    position: fixed;
    top: 78px;
    bottom: 0;
    left: 0;
    transform: translate3d(-100vw, 0, 0);
    transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
    background-color: theme('colors.background.DEFAULT');

    &.show {
      transform: translate3d(0vw, 0, 0);
      z-index: 1000;
    }
  }
}
